body{
    background-image: url(./IMAGENS/FUNDO.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    background-attachment: fixed;
}
.menu{
    float: right;
    text-align: right;
    
}
nav ul li{
    list-style: none;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 3px;
    margin:3px 10px;
    padding: 2px;

}
a{
    text-decoration: none;
    color: rgb(69, 29, 134);
    font-family: 'Times New Roman', Times, serif;

}
a:hover{
    background-color: white;
    padding: 5px;
}
h1{
    font-size: 90px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(42, 42, 122);
    margin-top: 20px;
    display:inline-block;

}
h2{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 10px 0px;
    text-transform: uppercase;
    color: rgb(26, 0, 103);
}
p{
    text-align: justify;
    font-size: 19px;
    color: rgb(0, 61, 115);
    line-height: 30px;
    margin: 0px;
}

.série{
    border: 2px solid rgb(26, 0, 103);
    width: 170px;
    height: 200px;
    float: right;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 0px;
}
.conteiner{
    position:-webkit-sticky;
    top:600px;
    bottom:300px;

}
.steven{
    border: 2px solid rgb(26, 0, 103);
    width: 170px;
    height: 200px;
    float: left;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;

}
.rebeca{
    text-decoration: none;
}

a.rebeca:link{
    color: blue;
}

a.rebeca:link{
    color: blueviolet;
}

a.rebeca:hover{
    text-decoration: underline;
    font-style: italic;
}
a.rebeca:active{
    display: inline-block;
    background-color: rgb(42, 42, 122);
    border-radius: 6px;
    padding: 3px;
    color: blueviolet;
    border: 2px solid black;
    box-sizing: content-box;
    width: fit-content;
}
.rodape{
    background-color: rgb(42, 42, 122);
    color: white;
    text-align: center;
    padding:0px;
    background-size:cover;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
}

.estrutura{
    width: 40%;
    margin: auto;

}